.bio-section{
  display: none;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  .horiz-line{
    width: 150px;
    height: 1px;
    background-color: #d8d8d8;
  }
  
  .question-block{
    margin-top: 40px;
    display: flex;
    flex-flow: column;
    width: 400px;
    align-items: center;

    .head-block{
      display: flex;
      margin-top: 57px;
      width: 400px;
      justify-content: space-between;
      margin-bottom: 50px;
     
      .back-btn{
        cursor: pointer;
        display: flex;
        flex-flow: column;
        align-items: center;
        p{
          margin-top: 9px;
          color: #8f8f8f;
          font-family: Lucida, serif;
          font-size: 8px;
          text-transform: uppercase;
        }
        img{
          height: 19px;
        }
      }
      .title-content{
        left: -50%;
        position: relative;
        color: #2f2f2f;
        font-family: ObjektivBd, serif;
        font-size: 24px;
        font-weight: 700;
        transform: translate(50%);
  
        &:after{
          content: "";
          position: absolute;
          top: 37px;
          left: -15px;
          width: 150px;
          height: 2px;
          background-image: linear-gradient(177deg, #ff5f93 0%, #fe8d45 100%);
        }
      }
    }

    .img-border{
      width: 180px;
      height: 180px;
      border-radius: 100%;
      border: 1px solid #d8d8d8;
      margin-bottom: 33px;
    }
    .name-holder{
      color: #2f2f2f;
      font-family: ObjektivBd, serif;
      font-size: 18px;
      margin-bottom: 24px;
    }
    .question-content{
      margin-top: 12px;

      h4{
        color: #2f2f2f;
        font-family: DroidBd,serif;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 10px;
      }

      p{
        color: #2f2f2f;
        font-family: Droid, serif;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 34px;
        &:last-child{
          margin-bottom: 0;
        }
        span{
          font-family: DroidIt, serif;
        }
      }
    }
    .fin-arr{
      color: #2f2f2f;
      font-family: ObjektivBd, serif;
      font-size: 16px;
      margin-top: 60px;
      margin-bottom: 20px;
    }
    .horiz-line{
      margin-bottom: 28px;
    }
  }
  .img-conteiner{
    width: 599px;
    height: 596px;
    border: 2px solid #979797;
    margin-bottom: 49px;
  }
  .my-phone{
    display: flex;
    flex-flow: column;
    width: 400px;
   

    p{
      color: #2f2f2f;
      font-family: Droid, serif;
      font-size: 14px;
      line-height: 18px;
    }
    ol{
      margin-top: 34px;
      padding-left: 16px;
      li{
        color: #2f2f2f;
        font-size: 14px;
        line-height: 18px;
        font-family: DroidBd, serif;
      }
      .to-top{
        margin-top: 38px;
      }
      ul{
        padding: 0px;
       
        li{
          font-family: Droid, serif;
          font-weight: 400;
          list-style-type:none;
          margin-top: 0px;
        }
      }
    }
    .horiz-holder{
      display: flex;
      width: 400px;
      justify-content: center;
      margin-top: 58px;
      margin-bottom: 25px;
    }
  }
}

.bio-section.active{
  display: flex;
}