@media all and (max-width: 620px) {
  html{
    body{
      .bio-section{
        .question-block{
          width: 270px;
        }
        .img-conteiner{
          width: 320px;
          height: 320px;

          img{
            width: 100%;
          }
        }
        .my-phone{
          width: 270px;

          .horiz-holder{
            width: 270px;
          }
        }
      }
    }
  }
}