@font-face {
  font-family: Objektiv;
  src: url(fonts/ObjektivMk2_Rg.ttf);
}

@font-face {
  font-family: ObjektivBd;
  src: url(fonts/ObjektivMk2_Bd.ttf);
}

@font-face {
  font-family: ObjektivIt;
  src: url(fonts/Objektiv_Mk1_W03_Italic.ttf);
}

@font-face {
  font-family: ObjektivXBd;
  src: url(fonts/Objektiv_Mk1_W03_XBold.ttf);
}

@font-face {
  font-family: Lato;
  src: url(fonts/Lato-Regular.ttf);
}

@font-face{
  font-family: Droid;
  src: url(fonts/DroidSerif-Regular.ttf);
}

@font-face{
  font-family: DroidBd;
  src: url(fonts/DroidSerif-Bold.ttf);
}

@font-face{
  font-family: DroidIt;
  src: url(fonts/DroidSerif-Italic.ttf);
}

@font-face{
  font-family: Lucida;
  scr: url();
}
body{
  font-family: Objektiv, sans-serif;
  opacity: 1;
  transition: opacity .3s ease-in-out;

  button {
    outline: none !important;
  }

  &.cloak{
    opacity: 0;
  }
}