@font-face {
  font-family: Objektiv;
  src: url(fonts/ObjektivMk2_Rg.ttf);
}

@font-face {
  font-family: ObjektivBd;
  src: url(fonts/ObjektivMk2_Bd.ttf);
}

body{
  font-family: Objektiv, sans-serif;
  opacity: 1;
  transition: opacity .3s ease-in-out;

  &.cloak{
    opacity: 0;
  }
}