.privacy-policy-block{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  
  .privacy-policy-content-holder{
    max-width: 640px;
    margin-top: 150px;

    h3{
      font-family: ObjektivBd,serif;
      font-size: 18px;
    }

    h4{
      font-family: ObjektivBd,serif;
      font-size: 16px;
    }

    p{
    font-family: Objektiv,serif;
    font-size: 16px;
    }

    a{
      color: black; 
      text-decoration: underline;
    }
    table{
      width: 100%;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    table,
    th,
    td{
      border: 1px solid #2F2F2F;
      border-collapse: collapse;
    }
  }
}

@media all and (max-width: 730px) {
  html{
    body{
      .privacy-policy-block{
        .privacy-policy-content-holder{
          width: 300px;
        }  
      }
    }  
  }
}