body{
  .landingPopupHolder{
    display: flex;
    width: 100vw;
    height: 100vh;

    .landingPopup{
      margin: auto;
      overflow: hidden;
      width: 690px;
      min-height: 564px;
      box-shadow: 9px 8px 13px rgba(156, 155, 155, 0.5);
      border-radius: 29px;
      border: 1px solid #d3d3d3;
      background-color: #ffffff;

      .mainQuiz{
        height: unset;
        background-position: left -154px;
        background-attachment:  unset;
  
        .contentInfo{
          margin-top: 70px;
          margin-bottom: 36px;
          text-align: center; 
          width: 500px;
          color: #5a5a5a;
          font-family: Objektiv, serif;
        }

        .storeHolder{
          .storeBlock{
            cursor: pointer;
            display: flex;
            align-items: center;
            width: 547px;
            height: 75px;
            border-radius: 38px;
            border: 1px solid rgba(213, 210, 210, 1);
            background-color: #ffffff;
            margin-bottom: 28px;
            
            img{
              width: 75px;
              height: 75px;
            }

            p{
              width: 435px;
              color: #5a5a5a;
              font-family: Objektiv, serif;
              font-size: 16px;
              font-weight: 400;
              line-height: 23px;
              margin-left: 14px;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  &.result_active{
    .landingPopupHolder{
      display: none;
    }
  }
}