body{
  h2,
  h3,
  h4{
    margin: 0;
    padding: 0;
  }
}

.fixed-section-break{
  width: 100%;
  height: 5px;
}
.social_sp_block{
  height: 100%;
  //overflow: auto;
  .mainQuiz{
    height: unset;
    .social-shares{
      text-align: center;
      margin-bottom: 80px;
      a{
        display: inline-block;
        margin: 0 20px;
        .icon-container{
          width: 65px;
          height: 65px;
          border: 1px solid #fe6f77;
          position: relative;
          border-radius: 100%;
        }
        i{
          font-size: 35px;
          position: absolute;
          top: 55%;
          left: 53%;
          transform: translate(-50%, -50%);
          color: #fe6f77;
          transition: all ease-in 200ms;
        }
        .fa-facebook-f{
          left: 49%;
        }
      }
      a:hover{
        .icon-container{
          border-color: transparent;
        }
        i{
          font-size: 50px;
        }
        .fa-twitter{color: #1DA1F2}
        .fa-linkedin-in{color: #0077B5}
        .fa-facebook-f{color: #3C5A99}
      }
    }

    .welcom-content{
      opacity: 0.0;
      display: none;
      transition: all 600ms ease-in-out;
      margin-bottom: 50px;
      h3{
        margin-top: 26px;
        margin-bottom: 28px;
        text-align: center;
      }
      p{
        width: 100%;
        margin-bottom: 43px;
        &:nth-child(4){
          margin-bottom: 0;
        }
        &:nth-child(5){
          margin-bottom: 0;
        }
      }
      .fa-smile{
        font-size: 21px;
        color: #fe6f77;
      }

      .only-home-page{
        display: none;
      }
    }
    .welcom-content.active{
      display: block;
      opacity: 1;
    }

    .welcome-content-erore-holder{
      display: none;
      margin: auto;
      align-items: center;
      justify-content: center;
      width: 514px;
      height: 108px;
      border-radius: 54px;
      margin-top: 30px;
      margin-bottom: 100px;
      border: 1px solid #979797;
      background-color: #fff;

      &.active{
        display: block;
          .errore,
          .try-again-later
          {
            display: none;
            font-size: 18px;
            font-weight: 600;
            margin: 0;
            max-width: unset;
            width: unset;
            line-height: unset;
          }
          .errore.active,
          .try-again-later.active{
            display: block;
          }
          .no-home-page{
            display: none;
          }
      }
      .welcome-content-erore{
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: center;
        width: 514px;
        height: 108px;  
      }
    }
    .social-sp-content{
      display: none;
      flex-flow: column;
    }
    .social-sp-content.active{
      display: flex;
    }

    h2{
      margin-top: 45px;
      margin-bottom: 46px;
      color: #5a5a5a;
      font-family: ObjektivBd, serif;
      font-size: 28px;
      font-weight: 700;
      line-height: 32px;
    }
    .soc-sp-img{
      max-width: 527px;
      max-height: 351px;
      margin-bottom: 45px;
    }
    p,
    #resultDesc,
    #resultTips{
      max-width:765px;
      color: #5a5a5a;
      font-family: Objektiv, serif;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 40px;
      line-height: 26px;
    }

    .tip_on{
      width: 100%;
      font-family: ObjektivBd, serif;
      font-size: 22px;
      line-height: 34px;
      max-width: 765px;
      margin-bottom: 25px;
      color: #5a5a5a;
    }

    h3{
      margin-top: 0px;
      margin-bottom: 15px;
      color: #5a5a5a;
      font-family: ObjektivBd, serif;
      font-size: 22px;
      font-weight: 700;
    }
    .down_button-img{
      margin-bottom: 47px;
      cursor: pointer;
    }
    .find-help,
    #resultSpan{
      max-width:765px;
      width: 100%;
      color: #5a5a5a;
      font-family: Objektiv, serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      .bold_text,
      span{
        font-family: ObjektivBd, serif;
        font-weight: 700;
      }
    }
    .start_here-button-holder{
      margin-top: 30px;
      margin-bottom: 100px;
      position: relative;

      &.disable, &.active{
        // display: none !important;
        display: none;
      }
      .start-btn{
        display: none;
        width: 215px;
        height: 75px;
        border-radius: 39px;
        background-image: linear-gradient(134deg, #ff5f93 0%, #fe8d45 100%);
        color: #ffffff;
        font-family: ObjektivXBd,serif;
        font-size: 17px;
        letter-spacing: 3.26px;
        text-transform: uppercase;
        outline: none;
        border: none;
        cursor: pointer;
        transition: all 0.6s;  
        -webkit-box-shadow: 3px 3px 15px 0px rgba(254,141,69,.3);
        -moz-box-shadow: 3px 3px 15px 0px rgba(254,141,69,.3);
        box-shadow: 3px 3px 15px 0px rgba(254,141,69,.3);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1
      }
      .start-btn.active{
        display: block;
      }
      .start-btn.grow{
        width: 516px;
        height: 110px;
        border-radius: 54px;
        transition: all 0.6s;  
      }
      .sing-up-btn{
        opacity: 0.0;
        transition: all 0.6s; 
      }
      .sing-up-btn.active{
        display: none;
      }
      .input-holder{
        opacity: 0.0;
        transition: all 0.6s; 
        align-items: center;
        justify-content: space-between;
        width: 514px;
        height: 108px;
        border-radius: 54px;
        border: 1px solid #979797;
        background-color: #ffffff;
    
        .sing-up-btn{
          display: block;
          cursor: pointer;
          color: #ffffff;
          font-family: ObjektivBd, serif;
          font-size: 17px;
          font-weight: 700;
          letter-spacing: 2.72px;
          text-transform: uppercase;
          width: 170px;
          height: 77px;
          border-radius: 39px;
          background-image: linear-gradient(134deg, #ff5f93 0%, #fe8d45 100%);
          border: none;
          outline: none;
          margin-right: 14px;
        }
        input{
          margin-left: 50px;
          width: 266px;
          border: none;
          outline: none;
          height: 24px;
          color: #9a9898;
          font-family: Objektiv, serif;
          font-size: 18px;
          font-weight: 400;
        }
      }
      .input-holder.active{
        display: flex;
      }
    }
  } 
  .social_sp-content{
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}

@media all and (max-width: 800px) {
  html{
    body{
      .social_sp_block{
        .mainQuiz{
          h2{
            margin-top: 53px;
            margin-bottom: 36px;
            font-size: 24px;
            line-height: 32px;
          }
          .soc-sp-img{
            width: 320px;
            height: 213px;
            margin-bottom: 19px;
          }
          .social_sp-content{
            margin: 0 21px;
           
            p,
            .find-help,
            #resultDesc,
            #resultTips{
              min-width: 279px;
              font-size: 16px;
              line-height: 26px;
              margin-bottom: 25px;
            }
            #resultDesc{
              margin-bottom: 25px; 
            }
            .tip_on{
              font-size: 19px;
              min-width: 279px;
              margin-bottom: 11px;
            }

            h3{
              font-size: 18px;
              margin-top: 0px;
            }
          }
          .start_here-button-holder{
            // display: flex;
            flex-flow: column;
            align-items: center;
            margin-bottom: 20px;
            .start-btn.grow{
              width: 310px;
              height: 91px;
              border-radius: 54px;
            }
            .sing-up-btn{
              display: none;
              width: 170px;
              height: 61px;
              border-radius: 39px;
              cursor: pointer;
              color: #ffffff;
              font-family: ObjektivBd, serif;
              font-size: 17px;
              font-weight: 700;
              letter-spacing: 2.72px;
              text-transform: uppercase;
              background-image: linear-gradient(134deg, #ff5f93 0%, #fe8d45 100%);
              border: none;
              outline: none;
              margin-left: auto;
              margin-right: auto;
              margin-top: -5px;
              transition: all ease-in 300ms;

            }
            .sing-up-btn.active{
              display: block;
              // opacity: 1.0
            }
            .input-holder{
              justify-content: center;
              width: 310px;
              height: 91px;
              border-radius: 54px;
              margin-bottom: 24px;
              input{
                margin-left: 26px;
                width: 242px;
              }
              .sing-up-btn{
                display: none;
              }
            }
          }
        }  
      }
    }
  }
}