@media all and (max-width: 500px) {
  body {
    .spender-email-block{
      .email-block-holder{
        .title{
          font-size: 24px;
          margin: 112px 0 45px 0;
        }
        .breakLine{
          width: 208px;
          margin-bottom: 33px;
        }
        .text{
          max-width: 263px;
          font-size: 13px;
        }
        input{
          width: 245px;
          font-size: 16px;
          margin-bottom: 10px;
        }
        .subtext{
          max-width: 263px;
          font-size: 12px;
        }
        .emailButton{
          width: 247px;
          font-size: 17px;
        }

        &.error-active{
          .subtext{
            margin-top: 8px;
          }
          .error-message{
            width: 245px;
            margin-top: -4px;

            h2{
              font-size: 13px;
            }  
          }  
        }
      }
    }
  }
}