.terms_of_servise_block{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    
    .terms_of_servise_content_holder{
      max-width: 640px;
      margin-top: 150px;
  
      h3{
        font-family: ObjektivBd,serif;
        font-size: 18px;
      }
  
      h4,
      .count-header,
      ol{
        font-family: ObjektivBd,serif;
        font-size: 16px;
      }
  
      p,
      li{
      font-family: Objektiv,serif;
      font-size: 16px;
      }
  
      a{
        color: black; 
        text-decoration: underline;
      }
      table{
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
      }
  
      table,
      th,
      td{
        border: 1px solid #2F2F2F;
        border-collapse: collapse;
      }
    }
  }
  
  @media all and (max-width: 730px) {
    html{
      body{
        .terms_of_servise_block{
            .terms_of_servise_content_holder{
            width: 300px;
            h3{
                text-align: center;
            }
          }  
        }
      }  
    }
  }