@media all and (max-width:780px){
    body{
        .nav-bar{
            height: 60px;
            .logo-holder{
                margin-left: 22px;
                img{
                    width: 29px;
                    height: 29px;
                }
                .logo-text{
                    font-size:12px;
                }
            }
            .switch-block{
                margin-right: 22px;
                .btn{
                    font-size:10px;
                    &::after{
                        top:13px;
                    }
                }
            }
        }
    }
}