@media all and (max-width:900px){

    body{
        .mainPage{
            .panelBlock{
                .panelFlex{
                    flex-direction:column;
                    margin:auto;
                    align-items: center;

                    div{
                        margin-bottom: 60px;
                    }
                }
            }
        }
    }

}

@media all and (max-width:768px){
    html{
        body{
            .mainPage{
                margin: 92px auto;
                .topBlock{
                    div{
                        &:first-child{
                            span{
                                font-size:24px;
                            }
                        }
                    }
                    .topText{
                        p{
                            font-size:14px;
                        }
                    }
                    .welcom-content.active {
                        width: 300px;
                        height: 80px; 
                        
                        .only-home-page,
                        .errore,
                        .try-again-later{
                            font-size: 12px;
                        }
                    }    
                }
                .start_here-button-holder {
                    margin-bottom: 40px;
                    .start-btn.grow{
                        width: 320px;
                        height: 80px;
                    }
                    .input-holder{
                        width: 320px;
                        height:80px;
                        .sing-up-btn{
                            font-size: 14px;
                            margin-right: -2px;
                            border-top-left-radius: 0;
                            border-bottom-left-radius: 0;
                            height: 102%;
                            width: 100px;
                            letter-spacing: 1px;
                        }
                        input{
                            margin-left: 20px;
                            font-size: 16px;
                        }
                    }
                }
    
                .panelBlock{
                    span{
                        font-size:18px;
                    }
                    p{
                        font-size:14px;
                        line-height: 21px;
                        padding:0 50px;
                    }
                    .breakLine{
                        right: 0;
                    }
                    .panelFlex{
                        flex-direction:column;
                        margin:auto;
                        span{
                            font-size:16px;
                        }
                        div{
                            margin-bottom: 60px;
                        }
                        p{
                            font-size: 14px;
                        }
                    }
                }
                .storyBlock{
                    flex-direction: column;
                    margin:auto;
                    div{
                        &:first-child{
                            width: 100%;
                            max-width: 500px;
                        }
                    }
                    .textBlock{
                        font-size:14px;
                        padding: 0 25px;
                        max-width: 500px;
                        margin: 0 auto;
    
                        p{
                            font-size: 14px;
                            line-height: 18px;
                        }
                        span{
                            &:first-child{
                                font-size:18px;
                            }
                            &:last-child{
                                font-size: 14px;
                            }
                        }
                    }
                    div{
                        img{
                            margin: 40px auto;
                            display:flex;
                        }
                    }
                }
            }
        }
    }
}