body {
  a {
    display: block;
    text-decoration: none;
  }
  .bannerSection {
    .leftBorder {
      height: 23px;
      margin: 0 10px 20px;
    }
  }
  .contentBlock {
    .content {
      max-width: 1020px;
      display: flex;
      flex-flow: row wrap;
      margin: auto;
      .postCard {
        margin: 0 10px 80px;
        a {
          >img {
            width: 320px;
            height: 200px;
            object-fit: contain;
          }
        }
      }
      .leftBorder {
        border-left: 5px solid #fe8c45;
        height: 18px;
        display: block;
        margin: 10px 10px 0;
        span {
          margin-left: 10px;
          width: 113px;
          height: 18px;
          color: #2f2f2f;
          font-size: 12px;
          font-family: Objektiv, serif;
          text-transform: uppercase;
        }
      }
      p {
        width: 287px;
        height: 46px;
        color: #2f2f2f;
        font-family: ObjektivBd, serif;
        font-size: 16px;
        margin: 10px;
      }
      .textBlock {
        max-width: 320px;
        min-width: 320px;
        height: 200px;
        background-color: #f2f2f2;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0 !important;
        img {
          margin: 20px 10px 5px;
          width: 26px;
          height: 26px;
        }
        p {
          color: #000000;
          font-family: Droid, serif;
          font-size: 16px;
          line-height: 23px;
        }
      }
      .flexBlock {
        display: flex;
        justify-content: space-around;
        div {
          margin-bottom: 60px;
        }
      }
      .date {
        color: #2f2f2f;
        font-family: Objektiv, serif;
        font-size: 10px;
        text-transform: uppercase;
        margin: 0 10px;
      }
    }
  }
}
