@media all and (max-width: 1023px) {
  body {
    .contentBlock {
      .content {
        max-width: 680px;
      }
    }
  }
}

@media all and (max-width: 679px) {
  body {
    .contentBlock {
      .content {
        justify-content: center;
        .postCard {
          margin: 0 10px 60px;
        }
      }
      .borderTop {
        display: none;
      }
    }
    .bannerSection {
      .leftBorder {
        margin: auto;
        width: 300px;
        .bannerTitle {
          font-size: 12px;
        }
      }
      .bannerText {
        font-size: 16px;
        width: 300px;
        margin: 10px auto;
      }
    }
  }
}

@media all and (max-width: 350px) {
  body {
    .contentBlock {
      .content {
        .textBlock {
          max-width: 320px;
          width: 100%;
        }
      }
    }
  }
}
