.floating {
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, 0px);
  }
}
@font-face {
  font-family: Objektiv;
  src: url(fonts/ObjektivMk2_Rg.ttf);
}
@font-face {
  font-family: ObjektivBd;
  src: url(fonts/ObjektivMk2_Bd.ttf);
}
@font-face {
  font-family: ObjektivIt;
  src: url(fonts/Objektiv_Mk1_W03_Italic.ttf);
}
@font-face {
  font-family: ObjektivXBd;
  src: url(fonts/Objektiv_Mk1_W03_XBold.ttf);
}
@font-face {
  font-family: Lato;
  src: url(fonts/Lato-Regular.ttf);
}
body {
  font-family: Objektiv, sans-serif;
  opacity: 1;
  transition: opacity .3s ease-in-out;
}
body.cloak {
  opacity: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}
body p {
  margin: 0;
  padding: 0;
}
body .mainQuiz {
  height: 100%;
  overflow: auto;
  width: 100%;
  background-size: 100%;
  background-position: 0% 0%;
  background-image: url(../deploy/images/Background.png);
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column;
  align-items: center;
}
body #index {
  height: 100%;
}
body #index .headerLine {
  height: 17px;
  background-color: #ffffff;
}
body #index .headerLine .orangeBlock {
  width: 128px;
  height: 17px;
  background-color: #fe8d45;
  transition: width .3s ease-in-out;
}
body #index .mainQuiz .pagesNum {
  height: 35px;
  color: #908e8e;
  font-family: Lato, serif;
  font-size: 23px;
  line-height: 31px;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 38px;
}
body #index .mainQuiz .contentInfo {
  width: 662px;
  color: #5a5a5a;
  font-family: Objektiv, serif;
  font-size: 18px;
  line-height: 31px;
  margin-bottom: 45px;
}
body #index .mainQuiz .break-line {
  width: 522px;
  border: 1px solid #979797;
  margin-bottom: 25px;
}
body #index .mainQuiz .chooseOne {
  width: 662px;
  color: #5a5a5a;
  font-family: ObjektivIt, serif;
  font-size: 16px;
  line-height: 31px;
  text-align: center;
  margin-bottom: 22px;
  font-style: italic;
}
body #index .mainQuiz .storeHolder .storeBlock {
  cursor: pointer;
  width: 547px;
  height: 94px;
  border-radius: 47px;
  border: 1px solid #d5d2d2;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 46px;
  background: #fff;
}
body #index .mainQuiz .storeHolder .storeBlock p {
  max-width: 340px;
  min-width: 340px;
  width: 340px;
  color: #5a5a5a;
  font-family: Objektiv, serif;
  font-size: 16px;
  line-height: 23px;
  margin-left: 14px;
}
body #index .mainQuiz .storeHolder .storeBlock img {
  width: 94px;
  height: 94px;
}

body .landingPopupHolder {
  display: flex;
  width: 100vw;
  height: 100vh;
}
body .landingPopupHolder .landingPopup {
  margin: auto;
  overflow: hidden;
  width: 690px;
  min-height: 564px;
  box-shadow: 9px 8px 13px rgba(156, 155, 155, 0.5);
  border-radius: 29px;
  border: 1px solid #d3d3d3;
  background-color: #ffffff;
}
body .landingPopupHolder .landingPopup .mainQuiz {
  height: unset;
  background-position: left -154px;
  background-attachment: unset;
}
body .landingPopupHolder .landingPopup .mainQuiz .contentInfo {
  margin-top: 70px;
  margin-bottom: 36px;
  text-align: center;
  width: 500px;
  color: #5a5a5a;
  font-family: Objektiv, serif;
}
body .landingPopupHolder .landingPopup .mainQuiz .storeHolder .storeBlock {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 547px;
  height: 75px;
  border-radius: 38px;
  border: 1px solid #d5d2d2;
  background-color: #ffffff;
  margin-bottom: 28px;
}
body .landingPopupHolder .landingPopup .mainQuiz .storeHolder .storeBlock img {
  width: 75px;
  height: 75px;
}
body .landingPopupHolder .landingPopup .mainQuiz .storeHolder .storeBlock p {
  width: 435px;
  color: #5a5a5a;
  font-family: Objektiv, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  margin-left: 14px;
  margin-bottom: 0;
}
body.result_active .landingPopupHolder {
  display: none;
}

@media all and (max-width: 715px) {
  html .quiz_active #index .headerLine .orangeBlock {
    width: 128px;
  }
  html .quiz_active #index .mainQuiz .pagesNum {
    font-size: 20px;
    height: 34px;
    line-height: 31px;
    margin-top: 32px;
    margin-bottom: 12px;
  }
  html .quiz_active #index .mainQuiz .contentInfo {
    width: 300px;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
  }
  html .quiz_active #index .mainQuiz .break-line {
    display: none;
  }
  html .quiz_active #index .mainQuiz .chooseOne {
    margin-bottom: 18px;
    font-size: 14px;
    line-height: 31px;
  }
  html .quiz_active #index .mainQuiz .storeHolder .storeBlock {
    width: 100vw;
    height: 142px;
    border-radius: 0;
    border-left: none;
    border-right: none;
    margin: 0;
    justify-content: center;
    border-bottom: none;
  }
  html .quiz_active #index .mainQuiz .storeHolder .storeBlock:last-child {
    border-bottom: 1px solid #d5d2d2;
  }
  html .quiz_active #index .mainQuiz .storeHolder .storeBlock p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    max-width: unset;
    min-width: unset;
    padding-right: 20px;
  }
  html .quiz_active #index .mainQuiz .storeHolder .storeBlock img {
    position: unset;
    width: 75px;
    min-width: 75px;
    height: 75px;
    margin-left: 19px;
  }
  html .quiz_active .landingPopupHolder .landingPopup {
    min-width: 320px;
    width: unset;
  }
  html .quiz_active .landingPopupHolder .landingPopup .mainQuiz .contentInfo {
    min-width: 320px;
    width: unset;
  }
  html .quiz_active .landingPopupHolder .landingPopup .mainQuiz .storeHolder .storeBlock {
    width: 100vw;
    height: 142px;
    border-radius: 0%;
    border-left: none;
    border-right: none;
    margin: 0;
    justify-content: center;
    border-bottom: none;
  }
  html .quiz_active .landingPopupHolder .landingPopup .mainQuiz .storeHolder .storeBlock:last-child {
    border-bottom: 1px solid #d5d2d2;
  }
  html .quiz_active .landingPopupHolder .landingPopup .mainQuiz .storeHolder .storeBlock p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    max-width: unset;
    min-width: unset;
  }
  html .quiz_active .landingPopupHolder .landingPopup .mainQuiz .storeHolder .storeBlock img {
    position: unset;
    width: 75px;
    height: 75px;
    margin-left: 19px;
  }
  html body .quizStart {
    overflow: auto;
  }
  html body .quizStart p {
    min-width: 320px;
    width: unset;
  }
  html .result_active {
    overflow: auto;
  }
  html .result_active .mainQuiz {
    height: unset;
  }
  html .result_active .mainQuiz p {
    width: unset;
    min-width: 320px;
  }
  html .result_active .mainQuiz .popup {
    margin-bottom: 50px;
    width: 100%;
  }
  html .result_active .mainQuiz .popup input {
    width: 90%;
  }
}
@media all and (max-width: 565px) {
  html .quiz_active #index .storeHolder .storeBlock {
    width: 467px;
  }
}
.result_active .headSocial {
  text-align: center;
  width: unset;
  height: 33px;
  color: #5a5a5a;
  font-family: ObjektivBd, serif;
  font-size: 26px;
  line-height: 32px;
  margin-top: 164px;
  margin-bottom: 64px;
}
.result_active p {
  width: 662px;
  color: #5a5a5a;
  font-family: Objektiv, serif;
  font-size: 18px;
  line-height: 31px;
}
.result_active p:nth-child(2) {
  margin-bottom: 46px;
}
.result_active p:nth-child(3) {
  margin-bottom: 86px;
}
.result_active .popup {
  width: 640px;
  min-height: 232px;
  margin-bottom: 44px;
  overflow: hidden;
  position: relative;
  text-align: center;
  border: 1px solid #979797;
  background-color: #ffffff;
  box-sizing: border-box;
}
.result_active .popup .closeImg {
  position: absolute;
  cursor: pointer;
  right: 18px;
  top: 20px;
}
.result_active .popup p {
  width: unset;
  color: #5a5a5a;
  font-family: ObjektivBold, serif;
  font-size: 14px;
  letter-spacing: 1.75px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  margin: 45px 0 29px;
}
.result_active .popup input {
  display: flex;
  width: 400px;
  height: 47px;
  margin: auto;
  background-color: #ffffff;
  border: 1px solid #979797;
  outline: none;
  opacity: .5;
  text-align: center;
  color: #5a5a5a;
  font-family: Objektiv, serif;
  font-size: 14px;
}
.result_active .popup button {
  width: 180px;
  height: 44px;
  border-radius: 10px;
  background-color: #fe8d45;
  margin: 20px auto;
  outline: none;
  border: 0;
  cursor: pointer;
  color: #ffffff;
  font-family: ObjektivBold, serif;
  font-size: 12px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.result_active .quizStart, .result_active #index {
  display: none;
}

body .quizStart p {
  width: 662px;
  color: #5a5a5a;
  font-family: Objektiv, serif;
  font-size: 18px;
  line-height: 31px;
}
body .quizStart p:first-child {
  margin-top: 168px;
  margin-bottom: 49px;
}
body .quizStart p:nth-child(2) {
  margin-bottom: 128px;
}
body .quizStart button {
  cursor: pointer;
  width: 207px;
  height: 77px;
  border-radius: 39px;
  background-image: linear-gradient(134deg, #ff5f93 0%, #fe8d45 100%);
  border: none;
  outline: none;
  color: #ffffff;
  font-family: ObjektivBd, serif;
  font-size: 19px;
  letter-spacing: 3.96px;
  text-transform: uppercase;
}
body.quiz_active .quizStart {
  display: none;
}

body h2,
body h3,
body h4 {
  margin: 0;
  padding: 0;
}

.leadGenContent {
  display: none;
  opacity: 0.0;
  transition: all 600ms ease-in-out;
}

.leadGenContent.active {
  opacity: 1.0;
}

.fixed-section-break {
  width: 100%;
  height: 5px;
}

.social_sp_block {
  height: 100%;
  overflow: auto;
}
.social_sp_block .mainQuiz {
  height: unset;
}
.social_sp_block .mainQuiz .welcom-content {
  opacity: 0.0;
  display: none;
  transition: all 600ms ease-in-out;
}
.social_sp_block .mainQuiz .welcom-content h3 {
  margin-top: 56px;
  margin-bottom: 98px;
  text-align: center;
}
.social_sp_block .mainQuiz .welcom-content p {
  width: 100%;
  margin-bottom: 43px;
}
.social_sp_block .mainQuiz .welcom-content p:nth-child(4) {
  margin-bottom: 0;
}
.social_sp_block .mainQuiz .welcom-content p:nth-child(5) {
  margin-bottom: 0;
}
.social_sp_block .mainQuiz .welcom-content.active {
  display: block;
}
.social_sp_block .mainQuiz .social-sp-content {
  display: none;
  flex-flow: column;
}
.social_sp_block .mainQuiz .social-sp-content.active {
  display: flex;
}
.social_sp_block .mainQuiz h2 {
  margin-top: 45px;
  margin-bottom: 46px;
  color: #5a5a5a;
  font-family: ObjektivBd, serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
}
.social_sp_block .mainQuiz .soc-sp-img {
  max-width: 527px;
  max-height: 351px;
  margin-bottom: 45px;
}
.social_sp_block .mainQuiz p,
.social_sp_block .mainQuiz #resultDesc,
.social_sp_block .mainQuiz #resultTips {
  max-width: 765px;
  color: #5a5a5a;
  font-family: Objektiv, serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 40px;
  line-height: 26px;
}
.social_sp_block .mainQuiz .tip_on {
  width: 100%;
  font-family: ObjektivBd, serif;
  font-size: 22px;
  line-height: 34px;
  max-width: 765px;
  margin-bottom: 25px;
  color: #5a5a5a;
}
.social_sp_block .mainQuiz h3 {
  margin-top: 0px;
  margin-bottom: 15px;
  color: #5a5a5a;
  font-family: ObjektivBd, serif;
  font-size: 22px;
  font-weight: 700;
}
.social_sp_block .mainQuiz .down_button-img {
  margin-bottom: 47px;
  cursor: pointer;
}
.social_sp_block .mainQuiz .find-help {
  max-width: 765px;
  width: 100%;
  color: #5a5a5a;
  font-family: Objektiv, serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.social_sp_block .mainQuiz .find-help span {
  font-family: ObjektivBd, serif;
  font-weight: 700;
}
.social_sp_block .mainQuiz .start_here-button-holder {
  margin-top: 30px;
  margin-bottom: 100px;
  position: relative;
}
.social_sp_block .mainQuiz .start_here-button-holder .start-btn {
  display: none;
  width: 215px;
  height: 75px;
  border-radius: 39px;
  background-image: linear-gradient(134deg, #ff5f93 0%, #fe8d45 100%);
  color: #ffffff;
  font-family: ObjektivXBd,serif;
  font-size: 17px;
  letter-spacing: 3.26px;
  text-transform: uppercase;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.6s;
  -webkit-box-shadow: 3px 3px 15px 0px rgba(254, 141, 69, 0.3);
  -moz-box-shadow: 3px 3px 15px 0px rgba(254, 141, 69, 0.3);
  box-shadow: 3px 3px 15px 0px rgba(254, 141, 69, 0.3);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.social_sp_block .mainQuiz .start_here-button-holder .start-btn.active {
  display: block;
}
.social_sp_block .mainQuiz .start_here-button-holder .start-btn.grow {
  width: 516px;
  height: 110px;
  border-radius: 54px;
  transition: all 0.6s;
}
.social_sp_block .mainQuiz .start_here-button-holder .sing-up-btn {
  opacity: 0.0;
  transition: all 0.6s;
}
.social_sp_block .mainQuiz .start_here-button-holder .sing-up-btn.active {
  display: none;
}
.social_sp_block .mainQuiz .start_here-button-holder .input-holder {
  opacity: 0.0;
  transition: all 0.6s;
  align-items: center;
  justify-content: space-between;
  width: 514px;
  height: 108px;
  border-radius: 54px;
  border: 1px solid #979797;
  background-color: #ffffff;
}
.social_sp_block .mainQuiz .start_here-button-holder .input-holder .sing-up-btn {
  display: block;
  cursor: pointer;
  color: #ffffff;
  font-family: ObjektivBd, serif;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 2.72px;
  text-transform: uppercase;
  width: 170px;
  height: 77px;
  border-radius: 39px;
  background-image: linear-gradient(134deg, #ff5f93 0%, #fe8d45 100%);
  border: none;
  outline: none;
  margin-right: 14px;
}
.social_sp_block .mainQuiz .start_here-button-holder .input-holder input {
  margin-left: 50px;
  width: 266px;
  border: none;
  outline: none;
  height: 24px;
  color: #9a9898;
  font-family: Objektiv, serif;
  font-size: 18px;
  font-weight: 400;
}
.social_sp_block .mainQuiz .start_here-button-holder .input-holder.active {
  display: flex;
}
.social_sp_block .social_sp-content {
  display: flex;
  flex-flow: column;
  align-items: center;
}

@media all and (max-width: 800px) {
  html body .social_sp_block .mainQuiz h2 {
    margin-top: 53px;
    margin-bottom: 36px;
    font-size: 24px;
    line-height: 32px;
  }
  html body .social_sp_block .mainQuiz .soc-sp-img {
    width: 320px;
    height: 213px;
    margin-bottom: 19px;
  }
  html body .social_sp_block .mainQuiz .social_sp-content {
    margin: 0 21px;
  }
  html body .social_sp_block .mainQuiz .social_sp-content p,
  html body .social_sp_block .mainQuiz .social_sp-content .find-help,
  html body .social_sp_block .mainQuiz .social_sp-content #resultDesc,
  html body .social_sp_block .mainQuiz .social_sp-content #resultTips {
    min-width: 279px;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 25px;
  }
  html body .social_sp_block .mainQuiz .social_sp-content #resultDesc {
    margin-bottom: 25px;
  }
  html body .social_sp_block .mainQuiz .social_sp-content .tip_on {
    font-size: 19px;
    min-width: 279px;
    margin-bottom: 11px;
  }
  html body .social_sp_block .mainQuiz .social_sp-content h3 {
    font-size: 18px;
    margin-top: 0px;
  }
  html body .social_sp_block .mainQuiz .start_here-button-holder {
    flex-flow: column;
    align-items: center;
    margin-bottom: 20px;
  }
  html body .social_sp_block .mainQuiz .start_here-button-holder .start-btn.grow {
    width: 310px;
    height: 91px;
    border-radius: 54px;
  }
  html body .social_sp_block .mainQuiz .start_here-button-holder .sing-up-btn {
    display: none;
    width: 170px;
    height: 61px;
    border-radius: 39px;
    cursor: pointer;
    color: #ffffff;
    font-family: ObjektivBd, serif;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 2.72px;
    text-transform: uppercase;
    background-image: linear-gradient(134deg, #ff5f93 0%, #fe8d45 100%);
    border: none;
    outline: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5px;
  }
  html body .social_sp_block .mainQuiz .start_here-button-holder .sing-up-btn.active {
    display: block;
  }
  html body .social_sp_block .mainQuiz .start_here-button-holder .input-holder {
    justify-content: center;
    width: 310px;
    height: 91px;
    border-radius: 54px;
    margin-bottom: 24px;
  }
  html body .social_sp_block .mainQuiz .start_here-button-holder .input-holder input {
    margin-left: 26px;
    width: 242px;
  }
  html body .social_sp_block .mainQuiz .start_here-button-holder .input-holder .sing-up-btn {
    display: none;
  }
}
.sp_type-block {
  overflow: auto;
  height: 100%;
}
.sp_type-block .mainQuiz {
  height: unset;
}
.sp_type-block .mainQuiz .sp_type-content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.sp_type-block .mainQuiz h2 {
  color: #5a5a5a;
  font-family: ObjektivBd, serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  margin-top: 120px;
  margin-bottom: 45px;
}
.sp_type-block .mainQuiz .start-sp_type {
  width: 180px;
  height: 67px;
  border-radius: 39px;
  background-image: linear-gradient(134deg, #ff5f93 0%, #fe8d45 100%);
  border: none;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  font-family: ObjektivXBd, serif;
  font-size: 17px;
  letter-spacing: 3.96px;
  text-transform: uppercase;
  margin-bottom: 45px;
  -webkit-box-shadow: 3px 3px 15px 0px rgba(254, 141, 69, 0.3);
  -moz-box-shadow: 3px 3px 15px 0px rgba(254, 141, 69, 0.3);
  box-shadow: 3px 3px 15px 0px rgba(254, 141, 69, 0.3);
}
.sp_type-block .mainQuiz p {
  max-width: 761px;
  color: #5a5a5a;
  font-family: Objektiv, serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 31px;
  margin-bottom: 48px;
}
.sp_type-block .mainQuiz p:nth-child(5) {
  margin-bottom: 50px;
}

.quiz_active .sp_type-block,
.result_active .sp_type-block {
  display: none;
}

@media all and (max-width: 800px) {
  html body .sp_type-block .mainQuiz .sp_type-content {
    margin: 0 27px;
  }
  html body .sp_type-block .mainQuiz h2 {
    min-width: 231px;
    font-size: 24px;
    text-align: center;
    margin-top: 85px;
    margin-bottom: 40px;
  }
  html body .sp_type-block .mainQuiz .start-sp_type {
    width: 168px;
    height: 64px;
    font-size: 17px;
    margin-bottom: 40px;
  }
  html body .sp_type-block .mainQuiz p {
    min-width: 267px;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 37px;
  }
  html body .sp_type-block .mainQuiz p:nth-child(5) {
    margin-bottom: 45px;
  }
}

/*# sourceMappingURL=style.css.map */
